body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #030305;
}

.container {
    text-align: center;
    font-family: 'Poppins';font-size: 22px;
}

.centered-text {
    color: white;
}